{%extends "flight/base.html"%}
{%block title%}
  Flight Details
{%endblock%}
{%block body%}
    <h4>Flight Information: {{flight.id}}</h4>
    <ul>
        <li>Origin: {{flight.origin}}</li>
        <li>Destination: {{flight.destination}}</li>
        <li>Duration: {{flight.duration}}</li>
        <li>Valid: {{flight.is_valid_flight}}</li>
    </ul>
    <h4>Passenger List:</h4>
    <ul>
        {%for p in passengers%}
          <li>{{p}}</li>
        {%empty%}
          No Passenger
        {%endfor%}
    </ul>
    <h2>Add a passenger<h2>
      {%if non_passengers%}
    <form action="{%url 'book' flight.id%}" method="post">
      {% csrf_token %}
      <select name="passenger">
        {%for p in non_passengers%}
          <option value="{{p.id}}">{{p}}</option>
        {%endfor%}
      </select>
      <input type="submit" value="Book a flight"/>
    </form>
    {%else%}
      <h5>No passenger availalbe</h5>
    {%endif%}
    <a href="{% url 'index'%}">Back to Flight List</a>
{%endblock%}
